@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .task {
    @apply prose rounded-md bg-base-200 py-2 px-8 min-w-full flex justify-between
  }

  .task-information {
    @apply flex
  }

}

.toggle-open {
  left: -200%;
}

.asidebar-height {
  min-height: calc(100vh - 64px);
}

.main-width {
  width: calc(100% - 25%);
}

.text-gradient-1 {
  background-image: linear-gradient(260deg, rgb(131, 207, 255), rgb(177, 255, 134));
	white-space: pre-wrap;
  background-clip: border-box;
  -moz-background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-gradient-2 {
  background-image: linear-gradient(260deg, rgb(218, 131, 255), rgb(255, 134, 190));
	white-space: pre-wrap;
  background-clip: border-box;
  -moz-background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}